@import 'tailwindcss';
.has-dot-green {
  position: relative;
}
.has-dot-green::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #38b000; /* green */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
}
.has-dot-red {
  position: relative;
}
.has-dot-red::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #e63946; /* red */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4px;
}
